<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap-4.2.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>

        <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-sm">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav nav-link active">
                        <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Komis</a></li>
                        <li><a asp-controller="Opinie" asp-action="Index">Opinia</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>

    </div>
</body>
</html>
